<div class="container-fluid container-home">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h1 class="home">You Are APIcurious</h1>
    <%= image_tag current_user.image, class: "img-circle img-thumbnail home-image" %>
    <h2 class="home"> <%= current_user.username %> </h2>
    <h2 class="home"> <%= current_user.email %> </h2>
    <h2 class="home"> <%= link_to "My Recent Commits" %> </h2>
    <h2 class="home"> <%= link_to "My Organizations" %> </h2>
    <h2 class="home"> <%= link_to "My Repos" %></h2>
    <h2 class="home"> <%= link_to "Starred Repos" %></h2>
    <h2 class="home"> <%= link_to "Followers: #{current_user.followers}", followers_path %> </h2>
    <h2 class="home"> <%= link_to "Following: #{ current_user.following}", following_path %></h2>
    <h2 class="home"> <%= link_to "Their recent activity" %></h2>

    <%= link_to "Logout", logout_path, class: "btn btn-lg btn-default btn-home" %>
  </div>
  <div class="col-md-2"></div>
</div>
