<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="assets/img/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>APICurious about GitHub</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="assets/css/animate.min.css" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="assets/css/light-bootstrap-dashboard.css" rel="stylesheet"/>


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="assets/css/demo.css" rel="stylesheet" />


    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="assets/css/pe-icon-7-stroke.css" rel="stylesheet" />

</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-color="blue" data-image="assets/img/sidebar-5.jpg">

    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->


		<div class="sidebar-wrapper">
					<div class="logo">
								<img src="/assets/GitHub-Mark.png" height=50 width=50 />
									<font color="black"><strong>APICurious</strong></font>
					</div>

					<ul class="nav">
						<li>
							<div class="stuff">
										<i class="pe-7s-user"></i>
										<%= link_to "Dashboard", "/#{current_user.username}/dashboard" %>
									</div>
						</li>
									<li>
										<div class="stuff">
													<i class="pe-7s-user"></i>
													<%= link_to "My Repos", "/#{current_user.username}/repos" %>
										</div>
									</li>
									<li>
										<div class="stuff">
													<i class="pe-7s-user"></i>
													<%= link_to "My Events", "/#{current_user.username}/events" %>
										</div>
									</li>
									<li>
										<div class="stuff">
													<i class="pe-7s-user"></i>
													<%= link_to "My Orgs", "/#{current_user.username}/organizations"%>
									</li>
									<li>
										<div class="stuff">
													<i class="pe-7s-user"></i>
													<%= link_to "Starred Repos", "/#{current_user.username}/starred" %>
									</li>
									<li>
										<div class="stuff">
													<i class="pe-7s-user"></i>
													<%= link_to "Followers: #{current_user.followers}", "/#{current_user.username}/followers" %>
										</div>
									</li>
									<li>
										<div class="stuff">
													<i class="pe-7s-user"></i>
													<%= link_to "Following: #{ current_user.following}", "/#{current_user.username}/following" %>
										</div>
									</li>
									<li>
										<div class="stuff">
													<i class="pe-7s-user"></i>
													<%= link_to "Following Activity", "/#{current_user.username}/received_events"%>
										</div>
									</li>
							</ul>
				</div>
			</div>

			<div class="main-panel">
					<nav class="navbar navbar-default navbar-fixed">
							<div class="container-fluid">
									<div class="navbar-header">
											<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
													<span class="sr-only">Toggle navigation</span>
													<span class="icon-bar"></span>
													<span class="icon-bar"></span>
													<span class="icon-bar"></span>
											</button>
											<a class="navbar-brand">My Events</a>
									</div>
									<div class="collapse navbar-collapse">
											<ul class="nav navbar-nav navbar-left">
											</ul>

											<ul class="nav navbar-nav navbar-right">
													<li>
														<%= link_to "Take Me to the Real GitHub!", "https://github.com/#{current_user.username}" %>
													</li>
													<li>
														<%- unless current_user == nil -%>
															<p><li><%= link_to "Log out", logout_path, method: :delete %> </li></p>
														<% else %>
															<p><li><%= link_to "Log In", root_path %> </li></p>
														<% end %>
													</li>
							<li class="separator hidden-lg hidden-md"></li>
											</ul>
									</div>
							</div>
					</nav>

        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
                <div class="card ">
                    <div class="header">
                        <h4 class="title">My Recent Activity</h4>
                    </div>
                    <div class="content">
                        <div class="table-full-width">
                            <table class="table">
                                <tbody>
                                  <tr>
                                    <th>Event Type</th>
                                    <th>Repo Name</th>
                                    <th>Created At</th>
                                    <th>Commit Info</th>
                                  </tr>
                                  <% @events.each do |event| %>
                                    <tr>
																			<%#= binding.pry %>
																				<td><%= event.type %></td>
                                        <td><%= event.repo[:name] %></td>
																				<td><%= event.created_at.to_datetime.strftime("%d %b %Y") %></td>
                                        <td><%= event.type == "PushEvent" ?
																				event.payload[:commits][0][:message] : event.payload[:issue][:title] %>
																			</td>
                                    </tr>
                                    <% end %>
                                </tbody>
                            </table>
                        </div>
