<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active"><%= link_to "My Repos", "/#{current_user.username}/repos" %><span class="sr-only">(current)</span></a></li>
        <li><%= link_to "My Recent Events", "/#{current_user.username}/events" %></a></li>
        <li><%= link_to "My Organizations", "/#{current_user.username}/organizations"%></a></li>
        <li><%= link_to "Starred Repos", "/#{current_user.username}/starred" %></a></li>
        <li><%= link_to "Followers: #{current_user.followers}", "/#{current_user.username}/followers" %></a></li>
        <li><%= link_to "Following: #{ current_user.following}", "/#{current_user.username}/following" %></a></li>
        <li><%= link_to "Their recent activity", "/#{current_user.username}/following_commits"%></a></li>
      </ul>
    </div>
    <div class="col-md-4 col-md-offset-2 main">
      <h1>Folks I'm Following</h1>
    </div>
  </div>
<div class="row">
  <div class="col-md-4 main">
  </div>
</div><br>
<div class="row">
  <div class="col-md-1 main">
  </div>
  <div class="col-md-11 main">
    <h4>Total People I'm Following: <%= current_user.following %></h4>
  </div>
</div>
<div class="row">

<% @ppl_following.each do |person| %>
<%= person.login %>
<%= image_tag person.avatar_url, class: "img-circle img-thumbnail home-image" %>
<%= binding.pry %>
<%= person.events %>
<% end %>
