<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active"><%= link_to "My Repos", "/#{current_user.username}/repos" %><span class="sr-only">(current)</span></a></li>
        <li><%= link_to "My Recent Events", "/#{current_user.username}/events" %></a></li>
        <li><%= link_to "My Organizations", "/#{current_user.username}/organizations"%></a></li>
        <li><%= link_to "Starred Repos", "/#{current_user.username}/starred" %></a></li>
        <li><%= link_to "Followers: #{current_user.followers}", "/#{current_user.username}/followers" %></a></li>
        <li><%= link_to "Following: #{ current_user.following}", "/#{current_user.username}/following" %></a></li>
        <li><%= link_to "Their recent activity", "/#{current_user.username}/received_events"%></a></li>
      </ul>
    </div>
    <div class="col-md-4 col-md-offset-2 main">
      <h1>My Organizations</h1>
    </div>
  </div>
<div class="row">
  <div class="col-md-4 main">
  </div>
</div><br>
<div class="row">
  <div class="col-md-1 main">
  </div>
  <div class="col-md-11 main">
    <h4>Total Organizations I'm In: <%= @orgs.count %></h4>
  </div>
</div>
<div class="row">

<% @orgs.each do |org| %>
<%= org.login %>
<% end %>
